h1{
    font-family: helvetica;
}
.seatgeek{
    font-family: 'Bangers', cursive;
}
.bark{
    font-family: 'Modak', cursive;
}
.etsy{
    font-family: 'Gloria Hallelujah', cursive;
}
.amex{
    font-family: 'Montserrat Subrayada', sans-serif;
}
.google{
    font-family: 'Vast Shadow', cursive;
}